{% extends "@ChangMin/layout.html.twig" %}
{% import '@ChangMin/Grid/_paginate.html.twig' as paginate %}

{% set data = resources.data is defined ? resources.data : resources %}
{% set definition = resources.definition is defined ? resources.definition : null %}
{% set pagers = configuration.vars.pagers|default({ proximity: 10 }) %}
{% set title = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}
{% set icon = configuration.vars.icon|default(null) %}

{% block title %}{% if icon %}<i class="{{ icon }}"></i> {% endif %}{{ title }}{% endblock %}

{% block content %}
    <div class="table-grid">
        <div class="toolbar toolbar-header p-2">
            <div class="align-items-center">
                <div class="table-grid-tools">
                    {{ include("@ChangMin/Crud/Index/_actions.html.twig") }}
                    {{ include("@ChangMin/Crud/Index/_search.html.twig") }}
                </div>
                <div class="table-grid-paginate">
                    {{ paginate.basic(data, pagers) }}
                </div>
            </div>
        </div>

        <div class="table-grid-body">
            {{ sylius_grid_render(resources, '@ChangMin/Grid/_default.html.twig') }}
        </div>
    </div>
{% endblock %}
