{% block phpmob_image_widget %}
    {% spaceless %}
        {% set isCollection = form.parent.vars.allow_delete|default %}
        {% set removeAttr = isCollection ? {style: 'display: none'} : {} %}
        {% set sizing = filter.sizing|default('100x100') %}
        {% set default = filter.default|default(phpmob_imagine.form_default_image_preview) %}
        {% set inset = filter.inset is defined and filter.inset == true %}
        {% set imagePreview %}
            <label for="{{ form.file.vars.id }}" style="cursor: pointer">
                <img src="{{ form.vars.data|phpmob_imagine(sizing, inset, default) }}">
            </label>
        {% endset %}
        <table class="phpmob-image-widget">
            {% if 'hidden' in form.type.vars.block_prefixes %}
                <tr>
                    <td class="file-preview">
                        {{ form_widget(form.type) }}
                        {{ imagePreview|raw }}
                    </td>
                    <td class="file-widget">
                        {{ form_widget(form.file) }}
                        {{ form_row(form.caption, { label: false }) }}
                        {{ form_row(form.shouldRemove, { label_attr: removeAttr }) }}
                    </td>
                </tr>
            {% else %}
                <tr class="file-preview">
                    <td rowspan="2">{{ imagePreview|raw }}</td>
                    <td>{{ form_widget(form.type) }}</td>
                </tr>
                <tr class="file-widget">
                    <td>
                        {{ form_widget(form.file) }}
                        {{ form_widget(form.caption) }}
                        {{ form_row(form.shouldRemove, { label_attr: removeAttr }) }}
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endspaceless %}
{% endblock %}
