{% macro default(message, icon, type = 'secondary', header) %}
    <div class="alert alert-{{ type }}" role="alert">
        {% if header %}
            <h4 class="alert-heading">{% if icon %} <i class="{{ icon }}"></i> {% endif %}{{ header }}</h4>
            {% set icon = null %}
        {% endif %}
        <p class="mb-0">{% if icon %} <i class="{{ icon }}"></i> {% endif %}{{ message }}</p>
    </div>
{% endmacro %}

{% macro info(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'fa fa-info-circled', 'info', 'Info') }}
{% endmacro %}

{% macro success(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'fa fa-check', 'success', 'Success') }}
{% endmacro %}

{% macro error(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'fa fa-attention', 'danger', 'Error') }}
{% endmacro %}

{% macro warning(message) %}
    {% import _self as messages %}
    {{ messages.default(message, 'fa fa-attention', 'warning', 'Warning') }}
{% endmacro %}
