{% macro headers(grid, definition, requestAttributes) %}
    {% import '@ChangMin/Grid/_sorting.html.twig' as sorting %}

    {% for field in definition.fields|sort_by('position') %}
        {% if field.enabled %}
            {% if field.isSortable %}
                {{ sorting.tableHeader(grid, field, requestAttributes) }}
            {% else %}
                {% set align = field.options.align|default('left') %}
                {% set width = field.options.width|default('auto') %}
                <th class="grid-table-column-{{ field.name }} text-{{ align }}" style="max-width: {{ width }};">
                    {{ field.label|trans }}
                </th>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getActions('item')|length > 0 %}
        <th class="grid-table-column-actions" style="max-width: 40px">{{ '' }}</th>
    {% endif %}
{% endmacro %}

{% macro row(grid, definition, row) %}
    <tr class="item">
        {% for field in definition.enabledFields|sort_by('position') %}
            <td class="text-{{ field.options.align|default('left') }}">
                {{ sylius_grid_render_field(grid, field, row) }}
            </td>
        {% endfor %}
        {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
            <td class="grid-table-column-actions">
                {{ include('@ChangMin/Grid/_actions.html.twig') }}
            </td>
        {% endif %}
    </tr>
{% endmacro %}
