<!DOCTYPE html>
<html lang="{{ (locale|split('_'))[0] }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chang Admin UI">
    <meta name="author" content="liverbool">

    <title>Change Admin</title>

    <link rel="shortcut icon" href="{{ asset('assets/admin/img/favicon.png') }}">
    <link href="{{ asset('assets/admin/css/style.css') }}" rel="stylesheet">

</head>

<body>
<div id="root"></div>
<script src="{{ asset('assets/admin/js/app.js') }}"></script>

<script>
    window.addEventListener('load', function () {
        var ChangMin = this.ChangMin;


        // sample update menu
        /*ChangMin.updateMenu(menu => {
            return menu.updateIn(['favorite', 'children'], function (children) {
                return children.addItem({
                    key: 'dashboard',
                    label: 'Dashboard',
                });
            });
        });*/

        ChangMin.updateTitle('{{ block('title')|escape('js') }}');
        ChangMin.updateContent('{{ block('content')|escape('js') }}');
    })
</script>
</body>
</html>
