{%- set breadcrumb = block('breadcrumb') ?? '' -%}
{%- set toolbarHeader = block('toolbarHeader') ?? '' -%}
{%- set toolbarFooter = block('toolbarFooter') ?? '' -%}
{%- set toolbarFooter = block('toolbarFooter') ?? '' -%}
{#{%- set content = block('content') ?? '' -%} BUG with form #}
{%- set title = block('title') ?? 'Change Admin' -%}

<!DOCTYPE html>
<html lang="{{ (locale|split('_'))[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chang Admin UI">
    <meta name="author" content="liverbool">

    <title>{{ title|striptags }}</title>

    <link rel="shortcut icon" href="{{ asset('assets/admin/img/favicon.png') }}">
    <link href="{{ asset('assets/admin/css/style.css') }}" rel="stylesheet">
    {% modify cssmin %}
    <style type="text/css">{{ include('@ChangMin/style.css.twig') }}</style>
    {% endmodify %}
</head>
<body>
{% set flashs %}
    {% block flash %}{{ include('@ChangMin/flash.html.twig') }}{% endblock %}
{% endset %}
<div id="root" style="opacity: 0"></div>
<script src="{{ asset('assets/admin/js/app.js') }}"></script>
{% modify jsmin %}
<script>
    $(window).on('load', function () {
        var ChangMin = this.ChangMin;

        ChangMin.updateBranding(function (brand) {
            return brand.set('name', 'ChangMin!');
        });

        ChangMin.updateUser(function (user) {
            return user
                .set('name', '{{ app.user.displayName }}')
                .set('avatar', '{{ asset('assets/admin/img/avatars/5.jpg') }}')
                .set('menu', user.get('menu').withMutations(function (menu) {
                    return menu
                        .set('logout', {
                            icon: 'icon icon-logout',
                            label: '{{ "ui.security.logout"|trans }}',
                            link: '{{ path('changmin_admin_logout') }}'
                        })
                    ;
                }))
            ;
        });

        ChangMin.updateNavbar(function (navbar) {
            return navbar.mergeDeep(ChangMin.createMap({
                'bath': {
                    icon: 'fa fa-bath',
                    label: 'Bath',
                    menu: {
                        a: {
                            icon: 'fa fa-grav',
                            label: 'Gravity'
                        },
                        b: {
                            icon: 'fa fa-free-code-camp',
                            label: 'Free code camp'
                        },
                    }
                },
                'notify': {
                    icon: 'licon licon-bell',
                },
            }));
        });

        ChangMin.set({
            title: '{{ title|trim|escape('js') }}',
            flash: '{{ flashs|trim|escape('js') }}',
            content: '{{ block('content')|trim|escape('js') }}',
            breadcrumb: '{{ breadcrumb|trim|escape('js') }}',
            toolbarHeader: '{{ toolbarHeader|trim|escape('js') }}',
            toolbarFooter: '{{ toolbarFooter|trim|escape('js') }}',
        });

        {{ include('@ChangMin/script.js.twig') }}

        ChangMin.update();
        $('#root').css('opacity', 1);

        // demo update state after first init
        ChangMin.updateNavbar(function (navbar) {
            return navbar.mergeDeepIn(['notify'], {
                badge: { data: 1, type: 'danger' }
            });
        });

        ChangMin.update();
    })
</script>
{% endmodify %}
</body>
</html>
