{% extends "@PhpMobCms/tpls/account/home.html.twig" %}
{% form_theme form "@PhpMobCms/tpls/form/default.html.twig" %}

{% block account_content %}
    <h1>{{ "Update Profile" }}</h1>
    {{ form_start(form, { method: 'PUT' }) }}
    {{ form_errors(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.countryCode) }}
    {{ form_row(form.localeCode) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.statusMessage) }}
    {{ form_row(form.picture, { caption: false, remove: false }) }}
    {{ form_row(form._token) }}
    <button type="submit" class="btn btn-primary">{{ "Update" }}</button>
    {{ form_end(form, { render_rest: false }) }}
{% endblock %}
