{# TODO move when sf3.4#}
{% use "@ChangMin/Form/sfbs4/default.html.twig" %}

{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    {# TODO : improve and find way for html5 validate #}
    <form
    {% if app.debug or true %}novalidate {% endif %}name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {%- endif -%}
{%- endblock form_start -%}

{# Widgets #}

{% block form_text_hint -%}
    <small class="form-text form-text-hint text-muted">
        {{ hint|raw }}
    </small>
{%- endblock form_text_hint %}

{%- block form_label -%}
    {{ parent() }}
    {% if help is defined %}
        <i class="fa fa-info-circle"
           data-content="{{ help|raw }}"
           data-toggle="popover"
           data-placement="top"
           data-html="true"></i>
    {% endif %}
{%- endblock form_label -%}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {% if hint is defined %}
        {{ block('form_text_hint') }}
    {% endif %}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
    {% if hint is defined %}
        {{ block('form_text_hint') }}
    {% endif %}
{%- endblock textarea_widget %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {{- parent() -}}
    {% if hint is defined %}
        {{ block('form_text_hint') }}
    {% endif %}
{%- endblock choice_widget_collapsed %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="{% if form.parent %}invalid-feedback{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled mb-0">
                {% set displayErrors = [] %}
                {%- for error in errors -%}
                    {% if error.message not in displayErrors %}
                        <li>{{ error.message }}</li>
                        {% set displayErrors = displayErrors|merge([error.message]) %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </div>
    {%- else %}
        {% if not form.parent and not form.vars.valid %}
            <div class="alert alert-block alert-danger">
                <i class="fa fa-warning"></i> {{ "การกรอกข้อมูลแบบฟอร์มไม่สมบูรณ์ กรุณาตรวจสอบการกรอกข้อมูลอีกครั้ง" }}
            </div>
        {% endif %}
    {%- endif %}
{%- endblock form_errors %}

{%- block custom_checkbox -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block custom_radio -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set attr = attr|merge({class: attr.class|default('custom-control-input')}) -%}
    {%- if 'checkbox-inline' in parent_label_class -%}
        {{- form_label(form, null, { widget: block('custom_checkbox') }) -}}
    {%- else -%}
        <div class="form-check">
            {{- form_label(form, null, { widget: block('custom_checkbox') }) -}}
        </div>
    {%- endif -%}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- set attr = attr|merge({class: attr.class|default('custom-control-input')}) -%}
    {%- if 'radio-inline' in parent_label_class -%}
        {{- form_label(form, null, { widget: block('custom_radio') }) -}}
    {%- else -%}
        <div class="form-check">
            {{- form_label(form, null, { widget: block('custom_radio') }) -}}
        </div>
    {%- endif -%}
{%- endblock radio_widget %}

{% block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' custom-control custom-checkbox')|trim}) -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }}
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}</span>
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{% block collection_widget -%}
    {% import '@ChangMin/Form/_macro.html.twig' as macro %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% if prototype is defined and allow_add %}
        {% set attr = attr|merge({ 'data-prototype': macro.collection_item(prototype, allow_delete, button_delete_label, '__name__')|e }) %}
    {%- endif -%}

    {% spaceless %}
        <div data-form-type="collection"
             data-name="{{ form.vars.full_name }}" {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}

            {% if prototypes|default is iterable %}
                {% for key, subPrototype in prototypes %}
                    <input type="hidden" data-form-prototype="{{ key }}"
                           value="{{ macro.collection_item(subPrototype, allow_delete, button_delete_label, '__name__')|e }}"/>
                {% endfor %}
            {% endif %}

            <div data-form-collection="list" class="row collection-list">
                {% for child in form %}
                    {{ macro.collection_item(child, allow_delete, button_delete_label, loop.index0) }}
                {% endfor %}
            </div>

            {% if prototype is defined and allow_add %}
                <a href="#" class="btn btn-sm btn-outline-primary" data-form-collection="add">
                    <i class="fa fa-plus"></i> {{ button_add_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock %}

{% block sylius_translations_row -%}
    <div class="card card-translations">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs justify-content-end">
                {% for translation in form %}
                    {% set active = loop.index0 ? '' : 'active' %}
                    <li class="nav-item">
                        <a class="nav-link {{ active }}" href="#{{ translation.vars.id }}">
                            {{ translation.vars.name|flag_icon }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if form.vars.label %}
                <h3 class="nav-title">{{ form_label(form) }}</h3>
            {% endif %}
        </div>

        <div class="card-body tab-content">
            {% for translation in form %}
                {% set active = loop.index0 ? '' : 'active' %}
                <div class="tab-pane {{ active }}" id="{{ translation.vars.id }}">
                    {% for field in translation %}
                        {% if exclude is defined %}
                            {% if field.vars.name not in exclude %}
                                {{ form_row(field) }}
                            {% endif %}
                        {% else %}
                            {{ form_row(field) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{%- endblock sylius_translations_row %}

{% block sylius_resource_autocomplete_choice_row %}
    {% set chooser = {
        maxItems: multiple ? null : 1,
        remote: {
            grid: true,
            query_search_key: 'search',
        }
    }|merge_deep(chooser) %}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form, {
            'attr': {
                'placeholder': placeholder is defined ? placeholder|trans : '',
                'data-chooser' : chooser|json_encode,
            }
        }) -}}
    </div>
    {{- form_errors(form) -}}
{% endblock %}
