{{ form_errors(form) }}

<div class="row">
    <div class="col-3">
        {{ form_row(form.type) }}
        {{ form_row(form.name) }}
    </div>
    <div class="col-9">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tpl-content">
                    {{ form.content.vars.label|trans }}
                </a>
            </li>
            <li class="nav-item" data-code-mirror-mode="yaml" data-code-mirror-id="{{ form.options.vars.id }}">
                <a class="nav-link" data-toggle="tab" href="#tpl-options">
                    {{ form.options.vars.label|trans }}
                </a>
            </li>
            <li class="nav-item" data-code-mirror-mode="yaml" data-code-mirror-id="{{ form.definedTranslations.vars.id }}">
                <a class="nav-link" data-toggle="tab" href="#tpl-defined-translations">
                    {{ form.definedTranslations.vars.label|trans }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tpl-content">
                {{ form_row(form.content, { label: false, attr: { 'data-code-mirror-mode': 'twig' } }) }}
            </div>
            <div class="tab-pane" id="tpl-options">{{ form_row(form.options, { label: false }) }}</div>
            <div class="tab-pane" id="tpl-defined-translations">{{ form_row(form.definedTranslations, { label: false }) }}</div>
        </div>
    </div>
</div>
